

@media (max-width: 768px) {
  body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
  }
  a:link {
    color: black;
  }
  .logo {
    color:black;
    font-size: 28px;
    float: right;
    margin-left: 5%;
    margin-top: 6%;
  }
  .footerTitle{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .footerElement{
    padding:10px 10px 10px 0;
  }
  .footerContent{
    text-decoration: none;
  }
  .social-icons{
    list-style-type: none;
    justify-self: center;
  }
  .icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 6%;
    vertical-align: middle;
    margin-left: 13%;
  }
  .titlePage{
    font-size: 30px;
    font-weight: bold;
    margin-top: 25px;
  }
  .testoPage{
    padding:5px 5px 15px 0;
  }
  .subTitlePage{
    font-weight: bold;
    font-size: 20px;
    padding:5px 5px 5px 0;
  }
  .inputForm{
    width: 100%;
    margin-bottom: 5%;
    height: 40px;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: white;
  }
  .inputFormMessage{
    width: 100%;
    margin-bottom: 5%;
    height: 150px;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: white;
  }
  .buttonForm {
    background-color: #0a6bff;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 50%;
    border: 0;
    box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    min-height: 35px;
    min-width: 60px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
  }
  .contactsContainer{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
  }
  .textForm{
    padding:5px;
  }
  .listeVarie{
    margin-left: 6%;
  }
  .homeIcon{
    height: 40px;
    width: 40px;
    margin-top: 5%;
    margin-left: -6%;
  }
  .imageHome{
    border-radius:50%;
    margin-left:10%;
    margin-right:10%;
    margin-top:15%;
    margin-bottom:15%;
    height: 80%;
    width: 80%;
    box-shadow: rgba(100, 100, 111, 0.9) 0px 7px 29px 0px;
      -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 2s; /* Firefox < 16 */
       -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
           animation: fadein 2s;
  }
  .containerTextHome{
    justify-content: center;
    font-size: 20px;
    margin-bottom: 55%;
  }
  .iconsHome{
    width: 25px;
    height: 25px;
    margin-right: 2%;
  }
  .textHome{
    padding: 2%;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 2s; /* Firefox < 16 */
       -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
           animation: fadein 2s;
  }
  .moreInfo{
    text-decoration: none;
    color: white;
  }
  a:visited{
    text-decoration: none;
    color: black;
  }
  .copy{
    margin-top: 10%;
    margin-bottom: 15%;
  }
  .project{
    text-decoration: none;
    width: 100%;
    float: left;
    position: relative;
  }
  .containerImages{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
  }
  .containerImages .project img{
    max-width: 100%;
    margin-top: 10px;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    border-radius: 7px;
  }
  .textPortfolioImages{
    padding: 2px 0 2px 5px;
    line-height: 25px;
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    bottom: 4px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .textPortfolioImages h3{
    font-size: 15px;
  }
  .textPortfolioImages p{
    font-size: 15px;
  }
  .wrap-collabsible{
    margin-bottom: 10px;
  }
  input[type='checkbox'] {
    display: none;
  }
  .lbl-toggle {
    display: block;
  
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
  
    padding: 1rem;
  
    color: white;
    background: rgba(60, 60, 255, 0.5);
  
    cursor: pointer;

    border-radius: 7px;
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle:hover {
    color: #7C5A0B;
  }
  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
  
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }
  .collapsible-content .content-inner {
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(250, 224, 66, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
  }
  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
  
    transition: max-height .25s ease-in-out;
  }
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
  }
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Internet Explorer */
  @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  /* Opera < 12.1 */
  @-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
}
