@media(min-width: 1000px) {
    body{
      background-color: white;
      font-family: 'Mukta', sans-serif;
      margin-left: 5%;
      margin-right: 5%;
      box-sizing:border-box;
    }
    a:link {
      color: black;
    }
    .logo {
      color:black;
      font-size: 36px;
      float: right;
      margin-left: 5%;
      margin-top: 2%;
    }
    .bar{
      width: 100% !important;
      height: 0.5px;
      background-color: rgba(34, 34, 34, 0.514);
    }
    .footerTitle{
      font-weight: bold;
    }
    .footer{
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 2%;
    }
    .footerContent{
      text-decoration: none;
    }
    .footerElement2{
      float: right;
      text-align: right;
    }
    .social-icons{
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
    }
    .copy{
      text-align: right;
      font-size: 15px;
      margin-top: 2%;
    }
    .icon{
      width: 40px;
      height: 40px;
      margin-left: 10px;
    }
    .titlePage{
      font-size: 30px;
      font-weight: bold;
    }
    .testoPage{
      padding:5px 5px 15px 0;
    }
    .subTitlePage{
      font-weight: bold;
      font-size: 20px;
      padding:5px 5px 5px 0;
    }
    .inputForm{
      width: 51%;
      margin-bottom: 2%;
      height: 40px;
      border-color: rgba(0, 0, 0, 0.541);
      border-radius: 5px;
      background-color: white;
    }
    .inputFormMessage{
      width: 51%;
      margin-bottom: 5%;
      height: 150px;
      border-color: rgba(0, 0, 0, 0.541);
      border-radius: 5px;
      background-color: white;
    }
    .buttonForm{
      width: 51%;
      height: 35px;
      margin-bottom: 60%;
      background-color: #005FEB;
      border-radius: 5px;
      color: #e7e7e7;
    }
    .contactsContainer{
      width: 100%;
    }
    .listeVarie{
      margin-left: 6%;
    }
    .homeIcon{
      height: 40px;
      width: 40px;
      margin-top: 5%;
      margin-left: -6%;
    }
    .containerImageHome{
      width: 50%;
      float:right;
      height: 550px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .imageHome{
      border-radius:50%;
      height: 450px;
      width: 450px;
    }
    .containerTextHome{
      width: 50%;
      height: 550px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 10%;
      margin-top: 5%;
    }
    .iconsHome{
      width: 25px;
      height: 25px;
    }
    .textHome{
      padding: 2%;
      font-size: 25px;
    }
    .moreInfo{
      text-decoration: none;
      color: white;
    }
    a:visited{
      text-decoration: none;
      color: black;
    }
    div.containerImages::after{
      content:'';
      overflow: hidden;
      clear:both;
    }
    .project{
      text-decoration: none;
      width: 100%;
      position: relative;
    }
    .containerImages{
      display: grid;
      justify-content: space-evenly;
      grid-template-columns: 550px 550px;
      gap: 20px;
      margin-top:10px;
      margin-bottom: 30px;
    }
    .containerImages .project img{
      max-width: 100%;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .textPortfolioImages{
      padding: 5px 0 5px 10px;
      color: white;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      bottom: 7px;
    }
  }