

@media (max-width: 768px) {
  body{
    background-color: white;
    font-family: 'Mukta', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
  }
  a:link {
    color: black;
  }
  .logo {
    color:black;
    font-size: 36px;
    float: right;
    margin-left: 5%;
    margin-top: 2%;
  }
  .footerTitle{
    font-weight: bold;
    font-size: 18px;
  }
  .footerElement{
    padding:10px 10px 10px 0;
  }
  .footerContent{
    text-decoration: none;
  }
  .social-icons{
    list-style-type: none;
    justify-self: center;
  }
  .icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 6%;
    vertical-align: middle;
    margin-left: 13%;
  }
  .titlePage{
    font-size: 30px;
    font-weight: bold;
    margin-top: 25px;
  }
  .testoPage{
    padding:5px 5px 15px 0;
  }
  .subTitlePage{
    font-weight: bold;
    font-size: 20px;
    padding:5px 5px 5px 0;
  }
  .inputForm{
    width: 100%;
    margin-bottom: 5%;
    height: 40px;
    border-color: rgba(0, 0, 0, 0.541);
    border-radius: 5px;
    background-color: white;
  }
  .inputFormMessage{
    width: 100%;
    margin-bottom: 5%;
    height: 70px;
    border-color: rgba(0, 0, 0, 0.541);
    border-radius: 5px;
    background-color: white;
  }
  .buttonForm{
    width: 100%;
    height: 35px;
    margin-bottom: 60%;
    background-color: #005FEB;
    border-radius: 5px;
    color: #e7e7e7;
  }
  .listeVarie{
    margin-left: 6%;
  }
  .homeIcon{
    height: 40px;
    width: 40px;
    margin-top: 5%;
    margin-left: -6%;
  }
  .imageHome{
    border-radius:50%;
    margin-left:10%;
    margin-right:10%;
    margin-top:15%;
    margin-bottom:15%;
    height: 80%;
    width: 80%;
  }
  .containerTextHome{
    justify-content: center;
    font-size: 22px;
    margin-bottom: 55%;
  }
  .iconsHome{
    width: 25px;
    height: 25px;
    margin-right: 2%;
  }
  .textHome{
    padding: 2%;
  }
  .moreInfo{
    text-decoration: none;
    color: white;
  }
  a:visited{
    text-decoration: none;
    color: black;
  }
  .copy{
    margin-bottom: 15%;
  }
  .project{
    text-decoration: none;
    width: 100%;
    float: left;
    position: relative;
  }
  .containerImages .project img{
    max-width: 100%;
    margin-top: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .textPortfolioImages{
    padding: 2px 0 2px 5px;
    line-height: 25px;
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    bottom: 7px;
  }
  .textPortfolioImages h3{
    font-size: 15px;
  }
  .textPortfolioImages p{
    font-size: 15px;
  }
}
